@inherits LayoutComponentBase

<PageTitle>@_title</PageTitle>

<div class="page">
    
    <main  role="main" class="frosted-box pb-1">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private string _title = "Year Resolution";
}