<div>

    <div class="add-container">

        <div class="card">
            
            <button id="Addbtn" class="btn-circle"><span class="oi oi-plus"> </span> </button>
            <a href="#" class="btn-circle-child">Dream</a>
            <a href="Goal" class="btn-circle-child">Goal</a>
            <a href="Task" class="btn-circle-child">Task</a>
        </div>
    </div>


</div>


@code{
    }