<PageTitle>Year Resolution</PageTitle>

<div>

    <div class="add-container">

        <div class="card">
            
            <button id="Addbtn" class="btn-circle"><span class="oi oi-plus"> </span> </button>
            <a href="Resolution" class="btn-circle-child">Resolution</a>
            <a href="Goal" class="btn-circle-child">Goal</a>
            <a href="Task" class="btn-circle-child">Task</a>
        </div>
    </div>


</div>

@* <ul>
    @foreach (var task in _tasks)
    {
            <li>
                <input @bind="task.Status" class="option-input" />
                <input @bind="task.Name"/>
            </li>
    }
    </ul>*@
