@page "/Resolution"
@attribute [Authorize]
@using Task=System.Threading.Tasks.Task
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject IResolutionService  ResolutionService

<form>
    <div class="input-box">
        <input placeholder="Year" type="number" min="2019" max="2099" step="1" @bind="_year" />
        <button class="btn-sign" @onclick="CreateResolution">Create</button>
    </div>
   
</form>

@code {
    private int _year { get; set; } = DateTime.Now.Year;
    private string _userName { get; set; } = string.Empty;


    protected async override Task OnInitializedAsync()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        _userName = user.Identity!.Name!;
    }

    private void CreateResolution()
    {
        ResolutionService.Create(_userName, _year);
    }
}
