@page "/Goal"
@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationState
@inject IGoalService GoalService
@inject IResolutionService ResolutionService

<form>
    <div class="input-box">
        <input placeholder="Name" @bind="_name"/>
        <input placeholder="Description" @bind="_description"/>
        <input placeholder="Deadline" type="date" @bind="endDate"/>
       
        <select @bind="resolutionYear">
            @foreach (var resolution in resolutions)
            {
                <option>
                    @resolution.Year.Year
                </option>
            }
        </select>
        <button class="btn-sign" @onclick="CreateNewGoal">Create</button>
    </div>
</form>

@code {
    private string _name { get; set; } = string.Empty;
    private string _description { get; set; } = string.Empty;
    private Resolution resolution { get; set; } = default!;
    private int resolutionYear;
    string? username;
    private DateTime endDate { get; set; } = DateTime.Now.Date;
    private List<Resolution> resolutions { get; set; } = default!;

    protected async override System.Threading.Tasks.Task OnInitializedAsync()
    {
        var authenticationState = await AuthenticationState.GetAuthenticationStateAsync();
        var user = authenticationState.User;
        username = user!.Identity!.Name;
        if(username is not null)
            resolutions = ResolutionService.GetAll(username);
    }

    private void CreateNewGoal()
    {
        resolution = ResolutionService.Get(username!, resolutionYear);
        GoalService.Create(resolution,_name,_description,endDate);
    }
}
