@page "/tasks"
@attribute [Authorize]

<div class="input-box">

    <input placeholder="Name" @bind="_taskName" />
    <input placeholder="Description" @bind="_description"/>
    <input placeholder="Start Date" type="date" @bind="_startDate"/>
    <input placeholder="End Date" type="date" @bind="_endDate" />
    <select @bind="_status">
        @foreach (var status in Enum.GetValues(typeof(DataLayer.Models.Status)))
        {
            <option>@status</option>
        }    
    </select>
<button class="btn-sign" @onclick="AddTask">Create</button>
</div>




@code {
    private List<DataLayer.Models.Task> _tasks = new();
    private string? _taskName;
    private string? _description;
    private DateTime _startDate = DateTime.Now.Date;
    private DateTime _endDate = DateTime.Now.Date;
    private DataLayer.Models.Status _status;
    private DateTime _currentDate = DateTime.Now.Date;

    private void AddTask()
    {
        if(!string.IsNullOrWhiteSpace(_taskName))
        {
            _tasks.Add(new DataLayer.Models.Task() {
                    Name = _taskName,
                    Description = _description,
                    StartDate = _startDate,
                    EndDate = _endDate,
                    Status=_status});

            _taskName = string.Empty;
            _description = string.Empty;
            _startDate = DateTime.Now;
            _endDate = DateTime.Now;
            _status = DataLayer.Models.Status.Started;
        }
    }
}
