@page "/Goal"
@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationState
@inject IGoalService GoalService
@inject IResolutionService ResolutionService

<form>
    <div class="input-box">
        <input placeholder="Goal Name" @bind="name"/>
        <input placeholder="Description" @bind="description"/>
        <input placeholder="Deadline" @bind="endDate"/>
        <select placeholder="Resolution Year" @bind="resolution">
            @foreach (var resolution in resolutions)
            {
                <option>
                    @resolution.Year
                </option>
            }
        </select>
        <button class="btn-sign" @onclick="CreateNewGoal">Create</button>
    </div>
</form>

@code {
    private string name { get; set; } = string.Empty;
    private string description { get; set; } = string.Empty;
    private Resolution resolution { get; set; } = default!;
    private DateTime endDate { get; set; }
    private List<Resolution> resolutions { get; set; } = default!;

    protected async override System.Threading.Tasks.Task OnInitializedAsync()
    {
        var authenticationState = await AuthenticationState.GetAuthenticationStateAsync();
        var user = authenticationState.User;
        string? username = user!.Identity!.Name;
        if(username is not null)
            resolutions = ResolutionService.GetAll(username);
    }

    private void CreateNewGoal()
    {
        GoalService.Create(resolution,name,description,endDate);
    }
}
