@page "/CreateGoal"
@attribute [Authorize]
@inject IGoalService GoalService

<form>
    <div class="input-box">
        <input placeholder="Name" @bind="_name" />
        <input placeholder="Description" @bind="_description" />
        <input placeholder="Deadline" type="date" @bind="endDate" />
        <button class="btn-sign" @onclick="CreateNewGoal">Create</button>
    </div>
</form>

@code {
    private string _name { get; set; } = string.Empty;
    private string _description { get; set; } = string.Empty;
    private DateTime endDate { get; set; } = DateTime.Now.Date;

    private void CreateNewGoal()
    {
        GoalService.Create(_name, _description, endDate);
    }
}
