<p class="text-container">
    Create New Year's Resolution by adding measurable <b>goals</b>  or just <b>dreams</b> that you wish to fulfill through the year. You can also create <b>tasks</b> for planning the goals.

</p>

@code {

}
