@page "/EditGoal/{GoalId}"
@attribute [Authorize]
@inject IGoalService GoalService

<div>
    <form class="input-box edit-input-box">
        <input placeholder="@_name" @bind="_name" />
        <input placeholder="@_description" @bind="_description" />
        <input @bind="_status"/>
        <input placeholder="@_endDate.Date" @bind="_endDate" />
        <button class="btn-sign" @onclick="EditGoalClick">Save</button>
    </form>
    <TasksView GoalId="@_goalId"></TasksView>
</div>




@code {
    private int _goalId;
    private string _name=string.Empty;
    private string? _description;
    private Status _status;
    private DateTime _endDate;



    [Parameter]
    public string GoalId { get; set; }    

    protected override void OnInitialized()
    {
        GetGoal();
    }

    private void GetGoal()
    {
        _goalId = Convert.ToInt32(GoalId);
        var goal = GoalService.Get(_goalId);
        if(goal is not null)
        {
            _name = goal.Name;
            _description = goal.Description;
            _status = goal.Status;
            _endDate = goal.EndDate;
        }        
    }

    private void EditGoalClick()
    {
        GoalService.Edit(_goalId,_name,_description,_status,_endDate);
    }
}
