@page "/EditGoal/{GoalId}"
@inject IGoalService GoalService

<form class="input-box">
    <input placeholder="@_name" @bind="_name" />
    <input placeholder="@_description" @bind="_description" />
    <input placeholder="@_endDate.Date" @bind="_endDate" />
    <button class="btn-sign" @onclick="EditGoalClick">Save</button>
</form>

@*<div class="list-box">
    <div class="list-container">
        <div class="list-scroll-container">*@
            @foreach (var task in _tasks)
            {
                    <TasksView TaskId="@task.Id"></TasksView>
            }
@*        </div>
    </div>
</div>
*@
@code {
    private int _goalId;
    private string _name=string.Empty;
    private string? _description;
    private Status _status;
    private DateTime _endDate;
    private List<DataLayer.Models.Task> _tasks;



    [Parameter]
    public string GoalId { get; set; }    

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        GetGoal();
    }

    private void GetGoal()
    {
        _goalId = Convert.ToInt32(GoalId);
        var goal = GoalService.Get(_goalId);
        if(goal is not null)
        {
            _name = goal.Name;
            _description = goal.Description;
            _status = goal.Status;
            _endDate = goal.EndDate;
            _tasks = goal.Tasks.ToList();
        }        
    }

    private void EditGoalClick()
    {
        GoalService.Edit(_goalId,_name,_description,_status,_endDate);
    }
}
