@page "/"

<PageTitle>Year Resolution</PageTitle>

<div>
   
    <button class="btn-circle" href="Resolution"></button>
    
    <button class="btn-circle" href="Tasks"></button>
    
</div>

   @* <ul>
    @foreach (var task in _tasks)
    {
            <li>
                <input @bind="task.Status" class="option-input" />
                <input @bind="task.Name"/>
            </li>
    }
    </ul>*@