@page "/"

<PageTitle>Year Resolution</PageTitle>

<div class="card">
   
    <a href="Resolution">
        <button class="btn-circle btn-circle-background btn-circle-foreground btn-circle-line btn-circle-line2">＋</button>
    </a>
    <a href="Tasks">
        <button class="btn-circle btn-circle-background btn-circle-foreground btn-circle-line btn-circle-line2">＋</button>
    </a>
</div>

   @* <ul>
    @foreach (var task in _tasks)
    {
            <li>
                <input @bind="task.Status" class="option-input" />
                <input @bind="task.Name"/>
            </li>
    }
    </ul>*@