@page "/"

    <AuthorizeView>
        <Authorized>
            <div class="page-container">
                <div class="page-top-container">
                    <Add />
                    <Definitions />                
                </div>
                <GoalsView />
            </div>            
        </Authorized>

        <NotAuthorized>
          <Login/>
        </NotAuthorized>
    </AuthorizeView>

@code{

}