@page "/signup"
<h3>Signup</h3>
<form>
    <div class="flex-column">
        <div>
            <input type="email" placeholder="Email" @bind="_email"/>
        </div>
        <div>
            <input type="password" placeholder="Password" @bind="_password"/>
        </div>
        <div>
            <input placeholder="First Name" @bind="_firstName"/>
        </div>
        <div>
            <input placeholder="Last Name" @bind="_lastName"/>
        </div>
        <div>
            <button @onclick="SignUP">Sign Up</button>
        </div>
    </div>
</form>

@code {
    private static string? _email;
    private static string? _password;
    private static string? _firstName;
    private static string? _lastName;



    private void SignUP()
    {
        User _user = new User()
            {
                Email = _email,
                Password = _password,
                FirstName = _firstName,
                LastName = _lastName
            };
        UserService.Add(_user);
        CleaUp();
    }

    private void CleaUp()
    {
        _email = string.Empty;
        _firstName = string.Empty;
        _lastName = string.Empty;
        _password = string.Empty;
    }

}