<select @bind="Status">
    @foreach (var status in Enum.GetValues(typeof(DataLayer.Models.Status)))
    {
        <option>@status</option>
    }
</select>

@code {
    private Status _status;

    [Parameter]
    public DataLayer.Models.Status Status 
    { 
        get=>_status; 
        set
        {
            if (_status == value) return;
            _status=value;
            StatusChanged.InvokeAsync(_status);
        }
    }

    [Parameter]
    public EventCallback<Status> StatusChanged { get;set; }

}
