@inherits LayoutComponentBase

<div class="container-fluid border border-primary p-3">
    <p>CustomLayout1</p>
    <div class="container-fluid border border-danger p-3">
        @Body
    </div>
</div>